body {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style:none;
    background-color: maroon;
    padding: 0;
    margin: 0;
    text-align: right;
}
nav li {
    display: inline-block;
    height: 40px;
    line-height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
   background-color: white;
   color:maroon;
   
}